<div qv-extension style="height: 100%; position: relative; overflow: auto;">
    <h3>Home</h3>
    <ul>
        <li ng-repeat="player in home">{{ player.playerName }}</li>
    </ul>

    <div class="lineups">
        <svg class="lineup-home" style="width: 50%" viewBox="0 0 {{ homeXMax + 10 }} {{ homeYMax + 10 }}"
            xmlns="http://www.w3.org/2000/svg">
            <circle ng-repeat="player in home" cx="{{ player.x * 10 }}" cy="{{ player.y * 10 }}" r="2" fill="black" />
        </svg>

        <svg class="lineup-away" style="width: 50%" viewBox="0 0 {{ awayXMax + 10 }} {{ awayYMax + 10 }}"
            xmlns="http://www.w3.org/2000/svg">
            <circle ng-repeat="player in away" cx="{{ player.x * 10 }}" cy="{{ player.y * 10 }}" r="2" fill="black" />
        </svg>
    </div>



    <h3>Away</h3>
    <ul>
        <li ng-repeat="player in away">{{ player.playerName }}</li>
    </ul>
</div>